@import url(pretendard.css);
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
*{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
ul,ol,li {
    list-style: none;
}
body{
    font-family: 'pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
}
.wrapper{
    width: 1260px;
    margin: 0 auto;
}
.global {
    background: url(../images/라인평가-1.jpg) no-repeat center center / contain;
    height: 200px;
    color: #fff;
    margin: 115px 0 0  0;
}
 .global .sub_global_1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    height: 109px; 
 }    
.global .sub_global_2{
    color: #00b900;
}  






