@import url(common.css);
@import url(pretendard.css);
.biz{
    margin: 100px 0;
}
.biz .group{
    display: flex;
    justify-content: space-between;
}
/* 부모가 한개의 자식을 알 수 있도록 ".group.ar"붙여서 써야함 */
.biz .group.art{
    flex-direction: row-reverse;
    margin: 101px 0 0 0;
}
.biz .group .tit{
    width: 510px;
}
.biz .group .tit h2{
    color: #af143c;
}
.biz .group .tit .sub_tit{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #191e26;
    margin: 13px 0 23px 0 ;
}
.biz .group .tit .sub_tit strong{
    color: #af143c;
}
.biz .group .tit .btn_wrap{
    margin: 48px 0 0 0;
    display: flex;
    gap: 6px 6px;
    flex-wrap: wrap;
}
.biz .group .tit .btn_wrap a{
    display: block;
    border: 1px solid #af143c;
    color: #af143c;
    padding: 13px 35px;
    border-radius: 30px;
    white-space: nowrap;
}
.biz .group .tit .btn_wrap a.active{
    background-color: #af143c;
    color: #fff;
}
.biz .group .photo{
    overflow: hidden;
    width: 618px;
    height: 487px;
    border-radius: 20px;
    
}
.biz .group .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:768px){
            
        .biz .group{
            display: block;/*flex헤제*/
            /*justify-content: space-between; flex인 경우만 적용, 그냥 뒤도 작동 안됨*/
        }
        .biz .group.art{
            /*flex-direction: row-reverse; flex인 경우만 적용*/
            margin: 87px 0 0 0;
        }
        .biz .group .tit{
            width: auto;
        }
       
        .biz .group .tit .sub_tit{
            font-size: 28px;
            margin: 15px 0 15px 0 ;
        }
        .biz .group .tit .btn_wrap{
            margin: 43px 0 43px 0;
          
        }
        .biz .group .tit .btn_wrap a{
            display: block;
            border: 1px solid #af143c;
            color: #af143c;
            padding: 12px 27px;
           
        }
     
        .biz .group .photo{
            overflow: hidden;
            width: auto;
            height: 141px;
            border-radius: 10px;
            
        }
}/*@media*/


.photo_wrap{
    margin: 100px;
}
.photo_wrap h2{
    margin: 50px 0 10px 0;
    font-size: 24px;
    font-weight: 700;
    color: #af143c;
}
.photo_wrap .photo_hfix{
    overflow: hidden;
    border: 2px solid #191e26;
    border-radius: 30px;
    height: 670px;
}
.photo_wrap .photo_hfix img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:768px){
    .photo_wrap .photo_hfix{
        height: 300px;
    }
}
.photo_wrap .photo_resize img{
    overflow: hidden;
    border: 2px solid #191e26;
    border-radius: 30px;
    height: 670px;  
}
.photo_wrap .photo_resize img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:768px){
    .photo_wrap .photo_resize{
        height: 300px;
    }
}
.photo_wrap .photo_font{
    overflow: hidden;
    border: 2px solid #191e26;
    border-radius: 30px;
    font-size: 0;
    line-height: 0;
}
.photo_wrap .photo_font img{
    width: 100%;/*넓이만 주면 높이 따라옴*/
}
.photo_wrap .photo_all{
    overflow: hidden;
    border: 2px solid #191e26;
    border-radius: 30px;

}
.photo_wrap .photo_all img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}














