@import url(pretendard.css);
@import url(common.css);

.visual .swiper{
    position: relative;
}
.visual .swiper-slide{
height: 900px;
background: url(../images/visual01.jpg) no-repeat center center / cover;
color: #fff;
}
.visual .swiper-slide.bg2{
    background-image: url(../images/visual02.jpg);
}
.visual .swiper-slide.bg3{
    background-image: url(../images/visual03.jpg);
}
.visual .swiper-slide h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 444px 0 16px 0;
}
 
.visual .ctrl_wrap{
    position: absolute;/* 스위퍼 기준으로 정렬*/
    left: 50%;/*정렬의 기준이 되는 swper의 널이에 50%
    translateX(-50%) - ctrl_wrap 나 자신의 넓이의 절반을 왼쪽으로 이동*/
    transform: translateX(-50%);
    bottom: 50px;
    z-index: 10;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 6px;
    border-color: red;
}
.visual .ctrl_wrap .paging{
    width: auto;/*100% 해제*/
    display: flex;
    gap: 0 6px;
    margin: 0 6px 0 0; 
}
.visual .ctrl_wrap .paging .swiper-pagination-bullet{
    margin: 0;
    background: #fff;
    opacity: 1;
    width: 8px;
    height: 8px;
    border-radius: 4px;
}
.visual .ctrl_wrap .paging .swiper-pagination-bullet.swiper-pagination-bullet-active{
width: 37px;
}
.visual .ctrl_wrap .btn{
    display: block;
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative; /*before/after 정렬의 기준*/;

}
.visual .ctrl_wrap .btn.prev::before,
.visual .ctrl_wrap .btn.next::before{
    content: "";
    position: absolute;
    left: 6px;
    top: 4px;
    width: 6px;
    height: 6px;
    border-style: solid;
    background-color: #fff;
    border-width: 0 0 1px 1px;
    transform: rotate(45deg);
}
.visual .ctrl_wrap .btn.next::before{
       transform: rotate(225deg);
       left: 3px;
}
.visual .ctrl_wrap .btn.stop::before,
.visual .ctrl_wrap .btn.stop::after{
    content: "";
    position: absolute;
    left: 5px;
    top: 4px;
    width: 1px;
    height: 7px;
    background-color: #fff;
}
.visual .ctrl_wrap .btn.stop::after{
    left: 9px;
}
.visual .ctrl_wrap .btn.play{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 7px;
    height: 8px;
    background: url(../images/visual_play.jpg) no-repeat center center;
}
.visual .ctrl_wrap .btn.play{
    display: none;/*숨김처리*/
}

@media screen and (max-width:768px){
             .visual .swiper-slide{
                height: 600px;
            }
             .visual .swiper-slide h3{
                font-size: 28px;
                margin: 250px 0 16px 0;
             }
                 .visual .swiper-slide p{
                    display: none;
                 }




}


.news{
    margin: 100px 0 0 0;
}
.news h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
}
.news .list{
    margin: 51px 0 0 0;
}
.news .list .swiper-slide a{
    display: block;
    position: relative;/* ctrl_wrap 정렬 기준*/
}
.news .list .swiper-slide a h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.news .list .swiper-slide a p{
    margin: 17px 0;
    line-height: 1.5;
    height: 3em;/*godrks * 줄수 -단위 em*/
}
.news .list .swiper-slide a .photo{
    overflow: hidden;
    /*표준은 아니지만 마지막에...추가해 주는 코드*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;/* 2줄*/
}

.news .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    vertical-align: top;
}
.news .list .swiper-slide a:hover .photo img{
    transform: scale3d(1.25, 1.25, 1);
}
.news .list .ctrl_wrap{
    position: absolute;
    right: 0;
    top: 50px;
    display: flex;
    gap: 0 6px;
}
.news .list .ctrl_wrap button{
    width: 40px;
    height: 40px;
    border: 1px solid #3d3d3d;
    border-radius: 50%;
    background: url(../images/);

}
.news .list .ctrl_wrap button.prev{
    transform: rotate(180deg);
}
.news .list .ctrl_wrap button.swiper-button-disabled{
    opacity: 0.6;
}

@media screen and (max-width:768px){
   
            .news h2{
                font-size: 24px;
                margin-right: 70px;
            }
            .news .list{
                margin: 35px 0 0 0;
            }
            .news .list .swiper-slide a h3{
                font-size: 20px;
                /*1줄에서 2줄로 변경*/
                white-space: normal;
                /*overflow: hidden;
                text-overflow: ellipsis;*/
                line-height: 1.3;
                height: 2.3em;
            }
            .news .list .swiper-slide a p{
                margin: 10px 0;
            }
            .news .list .ctrl_wrap{
                top: -67px;
            }
            .news .list .ctrl_wrap button{
                width: 28px;
                height: 28x;
                background-size: 8px;/* 가로만 맞추면 자동 비율*/
            }
            .news .list .ctrl_wrap button.prev{
                transform: rotate(180deg);
            }
            .news .list .ctrl_wrap button.swiper-button-disabled{
                opacity: 0.6;
            }
            
}


.notice{
    margin: 100px 0 0 0;
}
.notice h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
}
.notice .list{
    margin: 51px 0 0 0;
}
.notice .list .swiper-slide a{
    display: block;
    position: relative;/* ctrl_wrap 정렬 기준*/
}
.notice .list .swiper-slide a h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.notice .list .swiper-slide a p{
    margin: 17px 0;
    line-height: 1.5;
    height: 3em;/*godrks * 줄수 -단위 em*/
}
.notice .list .swiper-slide a .photo{
    overflow: hidden;
    /*표준은 아니지만 마지막에...추가해 주는 코드*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;/* 2줄*/
}

.notice .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    vertical-align: top;
}
.notice .list .swiper-slide a:hover .photo img{
    transform: scale3d(1.25, 1.25, 1);
}
.notice .list .ctrl_wrap{
    position: absolute;
    right: 0;
    top: 50px;
    display: flex;
    gap: 0 6px;
}
.notice .list .ctrl_wrap button{
    width: 40px;
    height: 40px;
    border: 1px solid #3d3d3d;
    border-radius: 50%;
    background: url(../images/);

}
.notice .list .ctrl_wrap button.prev{
    transform: rotate(180deg);
}
.notice .list .ctrl_wrap button.swiper-button-disabled{
    opacity: 0.6;
}





body{
    margin: 0 0 1000px 0;
}

@media screen and (max-width:768px){
            .notice h2{
                font-size: 40px;
                font-weight: 700;
                line-height: 1.3;
                color: #1d1d1d;
            }
            .notice .list{
                margin: 51px 0 0 0;
            }
            .notice .list .swiper-slide a{
                display: block;
                position: relative;/* ctrl_wrap 정렬 기준*/
            }
            .notice .list .swiper-slide a h3{
                font-size: 28px;
                font-weight: 700;
                line-height: 1.3;
                color: #1d1d1d;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

            }
            .notice .list .swiper-slide a p{
                margin: 17px 0;
                line-height: 1.5;
                height: 3em;/*godrks * 줄수 -단위 em*/
            }
            .notice .list .swiper-slide a .photo{
                overflow: hidden;
                /*표준은 아니지만 마지막에...추가해 주는 코드*/
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;/* 2줄*/
            }

            .notice .list .swiper-slide a .photo img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.3s;
                vertical-align: top;
            }
            .notice .list .swiper-slide a:hover .photo img{
                transform: scale3d(1.25, 1.25, 1);
            }
            .notice .list .ctrl_wrap{
                position: absolute;
                right: 0;
                top: 50px;
                display: flex;
                gap: 0 6px;
            }
            .notice .list .ctrl_wrap button{
                width: 40px;
                height: 40px;
                border: 1px solid #3d3d3d;
                border-radius: 50%;
                background: url(../images/);

            }
            .notice .list .ctrl_wrap button.prev{
                transform: rotate(180deg);
            }
            .notice .list .ctrl_wrap button.swiper-button-disabled{
                opacity: 0.6;
            }





body{
    margin: 0 0 1000px 0;
}
}