@import url(fonts.css);
@import url(common.css);
.header {
    height: 100px;
}
.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .gnb ul {
    display: flex;/* 좌우 가로로 배치*/

}
.header .gnb a{
    display: block;
    line-height: 100px;/* 행간을 header 높이와 동일하게*/
    padding: 0 32px;
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
}
.visual {
    background: url(../images/visual.bg.jpg) no-repeat center center /cover;
    color: #fff;
    height: 800px;

}
.visual .wrapper {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 131px 0;
} 
.visual h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 20px 0;
}
.biz {
    margin: 211px 0 93px 0;
}
.biz .tit h2{
    font-weight: 700;
    color: #132B68;
   
 }
.biz .tit p{
     font-size: 40px;
     line-height: 1.3;
     margin: 11PX 0 0 0;
     color: #1d1d1d;
     font-weight: 700;
 }
.biz .list {
    margin: 60px 0 0 0;
}
.biz .list ul{
    display: flex;
    justify-content: space-between;/* 양 끝으로 벌려 정렬 */
}
.biz .list ul li {
    width: 294px;
  }
.biz .list ul li a {
    display: block;
   }
.biz .list ul li a .txt {
    text-align: center;
    margin: 0 40px;
}
.biz .list ul li a .txt h3{
    font-size: 32px;
    color: #1d1d1d;
    margin: 33px 0 13px 0;
}
.biz .list ul li a .txt span {
    border: 1px solid #ccc;
    display: block;
    padding: 8px 0;
}
.brand{
    background: url(../images/brand_bg.jpg) no-repeat center center /cover;
    color: #fff;
}
.brand .wrapper {
    height: 775px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;/*자기 존재 여백만 줌, 여백 거의 없음*/
}
.brand h2{
    font-weight: 700;
    color: #bad6eb;
}
.brand p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 11px 0 22px 0;
}
.brand a{
    border: 1px solid #fff;
    display: inline-block;
    padding: 7px 27px 6px 24px;
}

.footer {
    background-color: #1d1d1d;
   color: rgba(255,255,255,0.8); 
   padding: 80Px;
}
.footer .f_nav ul{
    display: flex;
    gap:  0 42px;
}
.footer .f_nav ul li.privacy {
    font-weight: 700;
}
.footer .f_info {
    margin: 23px 0 21px 0;
    display: flex;
    gap: 0 21px;
}