@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url(common.css);
h2{
	font-size: 40px;
	line-height: 1.3;
	color: #191e26;
	font-weight: 700;
}
